body {
    background: rgb(255, 255, 255);
}

.imagem1 {
    height: 300px;
}

.santateresinha {
    color: rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}